<!doctype html>

<html lang="en" data-theme="light">
    <head>
        <title>Text embeddings playground</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    </head>

    <body class="m-3">
        <div class="container" id="app">
            <header class="mb-3 has-text-centered">
                <h1 class="is-size-3 py-3">Text embeddings playground</h1>
            </header>

            <section class="box">
                <div class="columns">
                    <div class="column is-narrow-tablet">
                        <div class="field">
                            <label for="model" class="label">Select model:</label>
                            <div class="select is-fullwidth" id="model">
                                <select v-model="embeddingModel" @change="getEmbeddings">
                                    <optgroup label="Mistral">
                                        <option value="mistral-embed">mistral-embed</option>
                                    </optgroup>
                                    <optgroup label="OpenAI">
                                        <option value="openai-text-embedding-3-small">
                                            text-embedding-3-small
                                        </option>
                                        <option value="openai-text-embedding-3-large">
                                            text-embedding-3-large
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label for="api-key" class="label">API Key:</label>
                            <input
                                type="password"
                                class="input"
                                id="api-key"
                                placeholder="Provide your API key"
                                v-model="apiKey"
                                @change="getEmbeddings"
                            />
                        </div>
                    </div>
                </div>
            </section>

            <section class="notification is-danger is-light has-text-centered" v-if="error">
                <p>{{error}}</p>
            </section>

            <section class="columns">
                <div class="column is-half-tablet">
                    <div class="box">
                        <h2 class="is-size-5 has-text-centered">Input texts</h2>

                        <div class="field mt-3" v-for="(text, idx) in texts">
                            <label class="is-pulled-right radio">
                                <input
                                    type="radio"
                                    id="reference"
                                    name="reference"
                                    v-model="reference"
                                    :value="idx"
                                />
                                is reference text
                            </label>

                            <label for="input-text" class="label">Text {{idx + 1}}:</label>
                            <textarea
                                class="textarea"
                                id="input-text"
                                placeholder="Type your text here"
                                rows="2"
                                @change="deleteTextIfEmpty(idx); getEmbeddings()"
                                v-model="text.text"
                            ></textarea>

                            <p v-if="reference !== idx && text.text !== ''">
                                Score: <strong>{{distances[idx].distance}}</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column is-half-tablet">
                    <div class="box">
                        <h2 class="is-size-5 has-text-centered">Visualization</h2>
                        <div style="height: 25rem" class="is-relative">
                            <canvas id="plot"></canvas>
                        </div>
                        <p class="m-6 has-text-centered has-text-grey" v-if="!visualized">
                            Add at least two texts to see the visualization
                        </p>
                        <p></p>
                    </div>
                </div>
            </section>
        </div>

        <footer class="m-6">
            <p class="has-text-centered">
                Created by <a href="https://svana.name" target="_blank">Miloš Švaňa</a><br />
                Source code available on
                <a href="https://github.com/msvana/embeddings/" target="_blank">GitHub</a>
            </p>
        </footer>

        <script src="src/main.ts" type="module"></script>
    </body>
</html>
